.container {
  padding: 70px 100px;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 100px;
}

.cart {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.cart__title {
  margin-bottom: 50px;
}

.form {
}

@media (max-width: 2000px) {
  .grid {
    gap: 50px;
  }
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .cart {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 30px;
  }

  .cart__title {
    margin-bottom: 25px;
  }
}
