.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  border-bottom: 1px solid var(--gray-font-color);
}

.wrapper__error {
  border-color: var(--error-color);
}

.title {
  color: var(--gray-font-color);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  background: none;
  border: none;
  padding: 10px 0;
  color: var(--main-font-color);
}

.error {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 12px;
  color: var(--error-color);
  font-weight: 500;
}
