.form {
  background-color: #35383d;
  border-radius: 10px;
  padding: 50px 60px;
  position: sticky;
  top: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form__title {
  color: var(--main-font-color);
  margin-bottom: 0;
}

.form__submit {
  width: 100%;
}
